In [21]:
import pandas as pd
import json

# Specify the file path to your JSON file
json_file_path = r'D:\open_banking_assessment\input_data\tech_assessment_transactions.json'

# Read the JSON file into a pandas DataFrame
try:
    with open(json_file_path, 'r') as file:
        data = json.load(file)
        df = pd.json_normalize(data['transactions'])
        # df = pd.read_json(file)
        # If the JSON file contains nested data, you may need to specify the path to the nested elements
        # For example, if the JSON file contains a list of dictionaries and you want to convert it to a DataFrame,
        # you might use: data = pd.json_normalize(json.load(file))
        print("Data loaded successfully:")
        print(df.head(5))
except FileNotFoundError:
    print(f"File '{json_file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Data loaded successfully:
                             customerId   customerName  \
0  fbbe0690-0cd1-48eb-aece-f2744db6f895  Gregory Downs
1  fbbe0690-0cd1-48eb-aece-f2744db6f895  Gregory Downs
2  fbbe0690-0cd1-48eb-aece-f2744db6f895  Gregory Downs
3  fbbe0690-0cd1-48eb-aece-f2744db6f895  Gregory Downs
4  fbbe0690-0cd1-48eb-aece-f2744db6f895  Gregory Downs

                          transactionId transactionDate           sourceDate  \
0  7b3c8eee-3689-4cf8-b874-dfbe515d2eb7      2022-02-21  2022-02-22T21:20:48
1  3a05ea6b-acb8-4dfe-847e-470b6502bd54      2022-04-03  2022-04-03T19:00:23
2  b14a9ac9-c541-4ba9-8bf1-efbaab61d76f      2023-11-11  2023-11-13T04:00:20
3  cbd5d46e-09a4-47ce-ba77-6e4806976425      2019-09-12  2019-09-17T14:47:20
4  56c304bc-5563-4ec9-b445-fe2a3bf63d64      2021-08-02  2021-08-07T02:00:12

   merchantId  categoryId currency    amount  \
0          36          10      GBP  -1841.11
1          64           3      GBP    594.59
2          61           4      GBP   -656.25
3          86           8      GBP  -1329.37
4          64           3      GBP    247.15

                                 description
0                       Blair-White | Travel
1                    Sherman-Love | Shopping
2  Anderson, Thomas and Jimenez | Eating Out
3          Smith, Owens and Lewis | Finances
4                    Sherman-Love | Shopping

In [22]:
# Check total records
num_records = len(df)
print(num_records)

6869

In [23]:
# Review column names
print(df.columns)

Index(['customerId', 'customerName', 'transactionId', 'transactionDate',
       'sourceDate', 'merchantId', 'categoryId', 'currency', 'amount',
       'description'],
      dtype='object')

In [24]:
#Check data types
data_types = df.dtypes
print(data_types)

customerId         object
customerName       object
transactionId      object
transactionDate    object
sourceDate         object
merchantId          int64
categoryId          int64
currency           object
amount             object
description        object
dtype: object

In [42]:
#check missing values
missing_values = df.isnull().sum()
print(missing_values)

customerId         0
customerName       0
transactionId      0
transactionDate    0
sourceDate         0
merchantId         0
categoryId         0
currency           0
amount             0
description        0
dtype: int64

In [36]:
#Check number of duplicates
duplicate_records = df.duplicated().sum()
print(duplicate_records)

0

In [37]:
#compute descriptive statistics
descriptive_stats = df.describe() 
print(descriptive_stats)

        merchantId   categoryId
count  6869.000000  6869.000000
mean     49.900713     6.139758
std      27.945133     3.285392
min       1.000000     1.000000
25%      26.000000     3.000000
50%      50.000000     6.000000
75%      74.000000     9.000000
max     101.000000    11.000000

In [54]:
#Indentifies unique values in categorical columns
unique_values = {col: df[col].unique() for col in df.select_dtypes(include=['object'])}
print(unique_values)

{'customerId': array(['fbbe0690-0cd1-48eb-aece-f2744db6f895',
       '86d5c245-3d2b-4f68-811b-0b669c85ce72',
       '8d6ce07e-4252-470c-a5c8-3709bb342512',
       'fb60e0c0-1cf5-40e8-b8d0-411f4568ba4c',
       'cdd7313b-c60e-4f2a-bcb4-e92bc2238e57',
       'a2220d82-f79b-49b2-a45a-c27ddc4226f7',
       'd6b1713e-bde0-42cc-a1f3-20c848016c90',
       '0b000de2-63f9-48e4-b9ef-36e2a797f804',
       'd2504718-4c64-4164-9134-90237235dd8c',
       'a62a6783-d908-4b5b-8b68-232bc422f60c',
       '4f53db95-a8aa-47c1-9ee3-0197a2ca5791',
       'b76cea0a-35e1-4703-a251-1ca4b440a3b5',
       'bf6c10af-cfc8-465e-b624-6dd39c799a83',
       '5adada47-ba86-42c7-a3d0-6c623ccf9df9',
       'b4e5b5bb-658b-44dc-b892-9612286b5dc4',
       '959ef36a-09f1-4733-85bd-33542ddb8791',
       'e95a178a-bc64-432d-ada6-01336bbfecec',
       '3d2ad8ed-460d-42e2-997c-176a42bdac9f',
       'c982459e-8a2c-45ee-9dab-28e627bde5f6',
       '51a19d13-a5f2-4705-87d3-e9a71f62b445',
       'c791956b-e75a-432b-9001-7630777485e7',
       '9e3361b2-91da-41b5-8fdf-b79cf90b77b1',
       'f6b63bf5-2bf4-4301-a9c8-c6ab7e961f33',
       '3be6f678-6e7f-49c0-84ff-7a54c274078d',
       '4be3f96a-3ad3-4c63-82c5-35249b52862b',
       '7cf08f69-a6dc-4d36-860b-1a35828f8366',
       '38532446-7f94-4b2f-8294-9f7ee4453051',
       '187f9365-f647-4184-bfbb-5667bc66a24f',
       'a17c27dd-fca5-40c3-9194-0fb431fd2752'], dtype=object), 'customerName': array(['Gregory Downs', 'Cassidy Garcia', 'Lauren Knapp', 'Timothy Brown',
       'Douglas Daniel', 'Marcus Miller', 'Nancy Miller', 'Tamara Jacobs',
       'Judy Moore', 'Michael Ford', 'Marcus Berger', 'Matthew Cook',
       'Shawn Thomas', 'Tyler Garcia', 'Justin Payne',
       'Brittany Castillo', 'Randall Graham', 'Gregory Wheeler',
       'Adam Nixon', 'Richard Douglas', 'Blake Smith', 'Stephen Ortiz',
       'Jessica Hernandez', 'Tiffany Sanchez', 'Micheal Yang',
       'Courtney Castillo', 'Ariel Hunt', 'Kelly Williamson',
       'Krystal Francis'], dtype=object), 'transactionId': array(['7b3c8eee-3689-4cf8-b874-dfbe515d2eb7',
       '3a05ea6b-acb8-4dfe-847e-470b6502bd54',
       'b14a9ac9-c541-4ba9-8bf1-efbaab61d76f', ...,
       '51210e40-e88e-48e4-930a-d2996b8c6c8c',
       '2f723a71-3d2b-40f2-bd1d-8592b85c7f39',
       '4e4dcab4-9789-4a11-ab5f-c66587a3bfa4'], dtype=object), 'transactionDate': array(['2022-02-21', '2022-04-03', '2023-11-11', ..., '2021-09-03',
       '2019-02-28', '2022-09-10'], dtype=object), 'sourceDate': array(['2022-02-22T21:20:48', '2022-04-03T19:00:23',
       '2023-11-13T04:00:20', ..., '2020-11-21T19:23:18',
       '2021-10-07T08:22:23', '2020-11-25T10:30:53'], dtype=object), 'currency': array(['GBP', 'EUR', 'JPY', 'INR', 'USD', 'JPN'], dtype=object), 'amount': array(['-1841.11', '594.59', '-656.25', ..., '383.12', '1344.55',
       '-725.79'], dtype=object), 'description': array(['Blair-White | Travel', 'Sherman-Love | Shopping',
       'Anderson, Thomas and Jimenez | Eating Out',
       'Smith, Owens and Lewis | Finances', 'Casey Inc | Health & Beauty',
       'Henderson and Sons | General', 'Palmer-Ward | Health & Beauty',
       'Gray-Meyers | Groceries', 'Bradley-Robertson | General',
       'Anderson Ltd | Travel', 'Martin-Bonilla | Entertainment',
       'Smith LLC | Home & Family', 'Bennett Group | Transport',
       'Evans and Sons | Entertainment',
       'Steele, Myers and Gordon | Entertainment',
       'Hayes, Moran and Hill | Finances', 'Grimes-Payne | Eating Out',
       'Brady Inc | Charity', 'Hubbard-Nichols | Charity',
       'Nguyen and Sons | General',
       'Hester, Smith and Lindsey | Entertainment',
       'Jacobs-Welch | Entertainment', 'Taylor Group | Health & Beauty',
       'Jones Group | Finances', 'Johnson PLC | Groceries',
       'Williams LLC | Transport', 'Perkins-Bennett | Charity',
       'Roberts, Estrada and Brown | Groceries',
       'Ellison-Morales | Travel', 'Moore and Sons | Groceries',
       'Randall, Torres and Murphy | Charity',
       'Sanchez, Heath and Marsh | Groceries', 'Lewis-Moore | Eating Out',
       'Ford, Cooper and Shaw | Eating Out',
       'Mcdonald, Ortiz and Marshall | Groceries',
       'Brown-Hamilton | Shopping', 'Parker-Carr | Home & Family',
       'Reyes, Molina and Hawkins | General',
       'Pennington-White | Health & Beauty', 'Garcia-Coleman | General',
       'Sullivan, Black and Moore | Entertainment',
       'Miller and Sons | Travel', 'Jordan-Soto | Shopping',
       'Brown, Hughes and Brady | Transport', 'Johns and Sons | General',
       'Mclean, Haynes and Burns | Charity', 'Russo-Campbell | Finances',
       'Dodson-Jordan | Home & Family',
       'Mathis, Mullins and Edwards | Charity',
       'Gilbert, Kelley and Day | Finances', 'Bryant PLC | Transport',
       'Taylor PLC | Travel', 'Garcia LLC | Transport',
       'Washington-Williams | General',
       'Ferguson, Murphy and Ryan | Eating Out',
       'Leblanc-Robinson | Home & Family', 'Lee PLC | Transport',
       'Clark Group | Groceries', 'White Ltd | Travel',
       'Bennett, Bowen and Collier | Charity',
       'Simmons and Sons | General',
       'Ramirez, Rosales and Martinez | Travel', 'Allen Inc | General',
       'Lee-Parker | General', 'Gomez, Vaughn and Prince | Travel',
       'Green Group | Health & Beauty', 'Barton LLC | Health & Beauty',
       'Brown, Orozco and Jenkins | Entertainment',
       'Moody, Owen and Page | Travel',
       'Wilson, Ward and Moore | Home & Family',
       'Woodward-Lucas | Health & Beauty', 'Mcmillan-Mason | Shopping',
       'Hester and Sons | Eating Out', 'Kirk, Cruz and Fowler | Shopping',
       'Mcdonald, White and Ramirez | Home & Family',
       'Morales-Garcia | Transport', 'Horton-Page | Home & Family',
       'Rivera, Jackson and Lester | Finances',
       'Rivera, Mendoza and Bass | Finances', 'Miller-Novak | Shopping',
       'Lopez, Kelly and Lee | Home & Family', 'Hensley-Scott | Finances',
       'Horton, Cervantes and Thompson | Shopping',
       'Riggs, Ortega and Clark | Groceries',
       'Caldwell, Moore and Spencer | Shopping',
       'Evans-Morgan | Finances', 'Parker, Dawson and Palmer | General',
       'Peterson, Edwards and Alvarado | Eating Out',
       'Harper, Wall and Lindsey | Transport', 'Cooke PLC | Charity',
       'Hobbs-Perez | Shopping', 'Morales-Lang | Transport',
       'Brennan, Rogers and Edwards | Finances',
       'Castillo and Sons | Finances', 'Jones Inc | Transport',
       'Fritz, Roberts and Olsen | General', 'Vega-Newton | Charity',
       'Wallace, Gomez and Ruiz | Transport', '49837103 00-23-49',
       '83479283 29-06-19', 'Refund', 'Thank-you',
       '07384305943 | Shopping', 'Payment to friend',
       'payment to David.Shepard@outlook.co.uk', '+44384305943 grooming',
       'Ariel.Hunt@gmail.com savings', 'Ariel.Hunt@gmail.com pension',
       'Payment for Car'], dtype=object)}

In [39]:
#correlation analysis between columns
correlation_matrix = df.corr()

C:\Users\olumi\AppData\Local\Temp\ipykernel_26960\1568462917.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [51]:
#check if a record is missing
if df['customerId'].isnull().all():
    print(f"Record with customer_id is missing")

In [52]:
column_name = 'customerId'  # Example column name
if df[column_name].isnull().any():
    print(f"Column '{column_name}' has null values")